body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* topbar styles */
.counsiling-info {
  text-align: center;
  color: black;
  padding: 4px 4px;
  font-size: 17px;
}

.top-feesinfo {
  text-align: center;
  padding: 2px;
}

.payment {
  margin: 0;
  text-decoration: none;
  color: black;
  padding-right: 30px !important;
}

.semester-pay {
  text-decoration: none;
  color: black;
}

/* image banner section styles */
.college-img-banner {
  width: 90%;
  height: 100px;
}

/* Announcements section styles */
.announcement-head {
  background: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
  padding: 5px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.annonce-scroll{
  display: inline-block;
  white-space: nowrap;
  color: #12D8FA;
  padding-top: 10px;
}

.annonce-source{
  text-decoration: none;
}


@media screen and (max-width: 1024px) {
  .topnav {
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
  }

  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a.active {
    color: black;
  }

  .head a {
    /* float: left; */
    /* display: block; */
    color: black;
    text-align: center;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 17px;

  }

  .head {
    height: 30px;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
    /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
    justify-items: center;
  }

  .right {
    padding-left: 20px;
  }

  .left {

    padding-right: 10px;
  }

  .center {
    justify-self: right;
  }







}

.topnav.responsive {
  position: relative;
}

.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav {
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
}


.head a {
  color: black;
  text-align: center;
  padding: 4px 4px;
  text-decoration: none;
  font-size: 17px;

}

.head {
  height: 30px;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
}

.right {
  padding-left: 20px;
}

.left {

  padding-right: 10px;
}

.center {
  justify-self: right;
}

/* ABOUT SECTION */

.about_container {
  row-gap: 2rem;
  text-align: center;
}

.about_subtitle {
  margin-bottom: 1rem;
}

.about_img {
  justify-content: center;


}

.about_img img {
  width: 500px;
  border-radius: 0.5rem;
  margin: 0 auto;

}

.about_text {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  padding: 10px;
}

.sec-about .about_container {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  background-color: #fff;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(525px, 1fr));
  padding-top: 15px;
}

.about_container img {
  max-width: 100%;
  height: auto;
  padding-left: 25px;
  border-radius: 5%;

}

.about {
  padding-right: 70%;
  background-color: rgb(253, 253, 254);
  height: fit-content;

}

.about h3 {
  background-color: rgb(169, 167, 243);
  padding-left: 5px;
  width: 50%;
  border-radius: 15px;
  color: blue;
}

.contain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.contain .mis_head {
  background-color: rgb(169, 167, 243);
  padding-left: 10px;
  width: 22%;
  border-radius: 50px;
  color: rgb(68, 68, 233);
  margin-left: 20px;
}

.mis_sub {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

.vis_head {
  background-color: rgb(169, 167, 243);
  padding-left: 10px;
  width: 19%;
  border-radius: 50px;
  color: rgb(68, 68, 233);
  margin-left: 20px;
}

.vis_sub {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}

.image img {
  width: 100%
}

/*footer  */
.footer-container {
  margin: 20px;
  padding: 20px;
  background-image: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
  border-radius: 8px;
  overflow: hidden;
}

.column1 {
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;

}

.footer {
  padding: 20px;
  background-image: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
  border-radius: 8px;
  overflow: hidden;
}

.column1 .links li a {
  text-decoration: none;
  text-align: justify;
  text-justify: inter-word;
  line-height: 2;
  width: fit-content;
  color: white;

}

.column1 h4 {
  padding: 15px;
  width: fit-content;
  color: yellow;
}

.sub-menu-2{
  display: none;
  padding: auto;
  
}

.hover-me:hover  .sub-menu-2{
  position: absolute;
  display: block;
  margin-top: 43px;
  margin-left: 155px;
  background-image: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
  border-radius: 10px;
  

}


.hover-me{
  padding: 0;
  margin: 0;
}

.menu-bar{
  padding: 0;
  margin: 0;
}

.sub-menu-3{
  display: none;
  padding: auto;
  
}

.hover-me1:hover  .sub-menu-3{
  position: absolute;
  display: block;
  margin-top: 255px;
  margin-left: 218px;
  background-image: linear-gradient(to right, rgb(32, 133, 255), rgb(157, 255, 219));
  border-radius: 10px;
  padding-left:0px;
  padding-right: 40px;
}

.topnav a .placement{
  text-decoration: none;
}